<ion-content slot="fixed">
  <br>
    <img src="../../../assets/logo.png" alt="logo" class="navbarLogo">
    <br>
    <h2 *ngIf="name">
      Bienvenido {{name}}
    </h2>

  <div class="center">
    <ion-grid>
      <ion-row >
        <ion-col size="12" >
          <ion-button mode="ios" class="btnlogin" (click)="getParking()">Lista de aparcamientos </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
   </div>

   <div class="parking" >
     <ion-card *ngFor="let parking of parkingList">
       <ion-card-title>
         {{parking.direccion}}
       </ion-card-title>
       <ion-card-content>
         {{parking.descripcion}}
       </ion-card-content>
     </ion-card>
   </div>
  
  </ion-content>
  
   